<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>深圳中融保险经纪有限公司保险平台</title>
<h1 align="center"><b> <font color="#FF0000" size="6" > 深圳中融保险经纪有限公司保险平台 </font> </b></h1>
</head>
<body>
<div style="width:300px;height:200px;margin:100px auto;border:1px solid #ccc;border-radius:6px;">
	<FORM method="post" action="__URL__/pwd">
	
	
	      <table style="width:100%;border:0;align:left;cellpadding:0;cellspacing:5;margin:50px auto;" >
	
	             <tr>
	             <td align="right">管理员用户名</td>
	             <td><input name="username" type="text" id="username"  />
	               <span style="color:#F00;">*</span></td>
	             </tr>
	
	             <tr>
	             <td align="right">密码</td>
	             <td><input name="password" type="password" id="password" />
	               <span style="color:#F00;">*</span></td>
	             </tr>
	
	             <tr>
	             <td align="right">
	             <INPUT style="background:green;" type="submit" value="登陆">
	             </td>
	             </tr>
	
	             </table>
	                         
	</FORM>
</div>
</body>
</html>